<a href="https://colab.research.google.com/github/Ed00107/sbd1/blob/main/%D0%94%D0%97_2_%D0%92%D0%B8%D1%82%D1%80%D0%B8%D0%BD%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание №2. Атрибуция каналов привлечения

Вы работаете аналитиком в интернет-магазине Ascent: [ссылка](http://shop-stdata.tilda.ws/). Вам пришло сообщение от вашего коллеги-аналитика:

![Условие](https://sun9-46.userapi.com/s/v1/if2/v72TY8B5Dya-tYzTT4IvzEmUi52aYDzOWKwzuPjtp2ScQmmduHo4E4TEVuTsWx3ibZgstaWtQIQTgRIb2v93RnZp.jpg?size=1496x820&quality=95&type=album)

Вашей задачей является реализация данной витрины, результат сохраните в файл order_acquisition.csv. Также вам нужно описать логику присвоения каналов, которую вы посчитали релевантной для данной бизнес-задачи. Весь python-код и sql-код нужно занести в этот jupyter-notebook.

### Описание бизнес-логики присвоения каналов
Ответьте на вопрос коллег из маркетинга и business development: по какой логике мы устанавливаем источник трафика для юзера?

In [1]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.9.5)

In [14]:
import psycopg2
import pandas as pd

DB_HOST = 'de-edu-db.chronosavant.ru'
DB_USER = 'da11'
DB_USER_PASSWORD = 'gandalfthegrey'
DB_NAME = 'edu'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

### Реализация

In [15]:
pd.read_sql_query("""
select channel, 'CR from Visit to Order' as metric_name, (count(distinct uo.user_id)::float/count(distinct uv.user_id)::float) metric_value,
count(distinct uo.user_id),
count(distinct uv.user_id)
from da.user_visits uv
left join da.user_orders uo using(user_id)
left join da.user_x_channel using(user_id)
group by 1 , 2
""", conn)

           channel             metric_name  metric_value  count  count
0    google direct  CR from Visit to Order      0.038931    102   2620
1  Organic desktop  CR from Visit to Order      0.011685    134  11468
2   Organic mobile  CR from Visit to Order      0.012395     25   2017
3           vk.com  CR from Visit to Order      0.124734    644   5163
4    yandex direct  CR from Visit to Order      0.011792     41   3477

In [20]:
pd.read_sql_query("Select * from da.user_visits",conn)

,row_id,timestamp,user_id,category,action
0,0.0,2022-04-01 00:35:18.634,6246489f93353e277e4be5e8,webpage,visit
1,1.0,2022-05-26 10:19:16.559,6246489f93353e277e4be5e8,webpage,visit
2,2.0,2022-05-26 13:02:57.580,6246489f93353e277e4be5e8,webpage,visit
3,3.0,2022-04-04 10:38:08.782,6246489f93353e277e4be5e8,webpage,visit
4,4.0,2022-04-01 00:49:37.667,6246489f93353e277e4be5e8,webpage,visit
...,...,...,...,...,...
371086,371086.0,2022-10-26 02:00:33.356,6337825de3267066786e3f69,webpage,visit
371087,371087.0,2022-10-24 03:52:34.404,6337825de3267066786e3f69,webpage,visit
371088,371088.0,2022-10-26 05:44:47.843,6337825de3267066786e3f69,webpage,visit
371089,371089.0,2022-10-26 05:12:17.380,6337825de3267066786e3f69,webpage,visit
371090,371090.0,2022-10-03 03:33:10.563,6337825de3267066786e3f69,webpage,visit

In [21]:
pd.read_sql_query("Select * from da.user_orders",conn)

      row_id           timestamp                   user_id category  action
0        0.0 2022-06-05 08:46:29  62468d570519f22b6574fbac    order  submit
1        1.0 2022-07-05 08:46:25  62468d570519f22b6574fbac    order  submit
2        2.0 2022-05-05 08:42:00  62468d570519f22b6574fbac    order  submit
3        3.0 2022-05-13 09:27:19  6246b7d1dcd39f5d07e1b90d    order  submit
4        4.0 2022-04-13 09:21:31  6246b7d1dcd39f5d07e1b90d    order  submit
...      ...                 ...                       ...      ...     ...
2459  2459.0 2022-09-27 15:48:56  6331fa9576edaf464eb383b9    order  submit
2460  2460.0 2022-09-27 06:14:26  633218f4625ee11195cf23c6    order  submit
2461  2461.0 2022-09-28 13:10:48  633443f1918365178e64de29    order  submit
2462  2462.0 2022-09-29 16:19:06  63349385e56fd43b96f55fbb    order  submit
2463  2463.0 2022-09-30 08:37:56  6336a08461f7fe528f24eebf    order  submit

[2464 rows x 5 columns]

In [19]:
 pd.read_sql_query("Select * from da.user_payments",conn)

,row_id,created,amount,amount_refunded,user_id
0,0.0,2022-08-14 12:43:30,12039.0,0.0,626106f1e679af011e7fc21e
1,1.0,2022-09-26 06:04:46,54794.0,0.0,62d7f91e7344b557342f0a8f
2,2.0,2022-06-07 03:56:02,780.0,0.0,6257db20c74dc1102abbcde5
3,3.0,2022-07-12 04:59:30,780.0,0.0,6264dab0b97a287f4ee07080
4,4.0,2022-09-14 01:46:46,780.0,0.0,6264dab0b97a287f4ee07080
...,...,...,...,...,...
1928,1928.0,2022-09-12 00:39:40,4600.0,0.0,62c978d8ae945e432db3dd61
1929,1929.0,2022-08-03 08:06:41,5625.0,0.0,6299761e775e0869ff6770a5
1930,1930.0,2022-09-12 13:05:13,506.0,0.0,62d7f91e7344b557342f0a8f
1931,1931.0,2022-09-02 03:53:41,3067.0,0.0,62c6f54bae945e432d2e4a24
1932,1932.0,2022-07-11 15:12:38,9214.0,0.0,627ddfae6e46d941ab7d019d

In [22]:
pd.read_sql_query("Select * from da.user_x_channel",conn)

        row_id                   user_id          channel
0          0.0  629ae781d92ddd29be3b4087           vk.com
1          1.0  62665f931578444f5a79e792           vk.com
2          2.0  62ecbcfc416a151b23393ef3           vk.com
3          3.0  62c4f262e1dc093fc0924ab7           vk.com
4          4.0  632abce90689182486632a89           vk.com
...        ...                       ...              ...
24740  24740.0  6308d251dc6e423039fdc027  Organic desktop
24741  24741.0  62997f221002b642e2454b78  Organic desktop
24742  24742.0  629699450f274d17a3807e4c  Organic desktop
24743  24743.0  62adf2dc08334a378aa339a2  Organic desktop
24744  24744.0  6266e36c0129a02f240158c4  Organic desktop

[24745 rows x 3 columns]